/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the container and page */
body {
    font-family: Arial, sans-serif;
    background-image: url('hats.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Container styling for header */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:blue;
    padding: 20px;
    width: 80%;
    border-radius: 10mm;
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: yellow;
    font-style: italic;
    font-weight: 300px;
}

/* Form Styling */
form.temp {
    background-color: #2c07fd;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

table {
    width: 100%;
}

td {
    padding: 10px;
    font-size: 1rem;
    color:yellow;
}

/* Input Fields */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #333333;
}

input[type="submit"],
input[type="reset"] {
    background-color:crimson;
    color: #ffffff;
    border:none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #002244;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container, form.temp {
        width: 90%;
    }
}
