body{
    background-image:url('ai.jpeg');
    background-size: cover;
    background-position: center;
}




.container{
    display: flex;
    color:yellow;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h2{
    font-weight: 300;
    text-align: center;
    color:floralwhite;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
h3{text-align: center;
    color:navajowhite;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;}

    .event{
        color: crimson;
        font-size: 20px;
        float: left;
        width: 45%;
    }
    
    .events{
        color: crimson;
        font-size: 20px;
        float: right;
        width: 45%;
    }
    .te,.tem{
        justify-content: center;
        border: 2px solid #333;
        border-radius: 15px;
        align-content: center;
        padding: 20px;
        color:white;
        text-align: center;
        box-shadow: 0 0 20px 0 blue;
    }
.venue{
    text-position: center;
    color:beige;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 300;
}